
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2>Iniciar sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" formControlName="email">
          <div *ngIf="isControlInvalid('email')" class="text-danger">
            <small>Email inválido.</small>
          </div>
        </div>
        <div class="form-group">
          <label>Contraseña:</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="isControlInvalid('password')" class="text-danger">
            <small>La contraseña es requerida.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </form>
      <div class="text-center mt-3">
        ¿No tienes una cuenta? <a routerLink="/registro">Regístrate</a>
      </div>
    </div>
  </div>
</div>

