<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mi Aplicación</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/mas-populares" routerLinkActive="active">Más Populares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mas-descargados" routerLinkActive="active">Más Descargados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proximamente" routerLinkActive="active">Próximamente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/agregar-videojuego" routerLinkActive="active">Agregar Videojuego</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="salir()">Salir</a>
      </li>
    </ul>
  </div>
</nav>

